@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap");
header {
  height: 20rem;
  width: 100%;
  background-image: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)), url("../images/banner.jpg");
  background-size: cover;
  background-position: 50%;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
  color: #fff;
  padding: 1rem;
  padding-bottom: 0;
}
header nav .nav_container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  visibility: hidden;
  font-size: 1rem;
}
header nav .nav_container ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  width: 60%;
  height: 100%;
  background: #ff8500;
  padding: 0;
  text-align: center;
  position: relative;
  transform: translateX(-100%);
  transition: 0.3s;
}
header nav .nav_container ul .bi-x {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  color: #fff;
}
header nav .nav_container ul li {
  list-style: none;
}
header nav .nav_container ul li a {
  text-decoration: none;
  color: #fff;
}
header nav .nav_container .menu_visible {
  transform: translateX(0%);
}
header nav .cart_container {
  font-size: 1rem;
}
header .logo_container {
  display: flex;
  justify-content: center;
}
header .logo_container img {
  width: 2rem;
}
header .container_carac {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  color: #fff;
}
header .container_carac h1 {
  font-size: 1.5rem;
  color: #ff8500;
  font-weight: bold;
}
header .container_carac p {
  width: 65%;
  margin: 0.6rem auto;
  font-size: 1.1rem;
}
header .container_carac i {
  margin-top: 3.5rem;
  font-size: 0.8rem;
}

@media (min-width: 767px) {
  header {
    height: 21.5rem;
  }
  header nav {
    padding: 1rem 2rem;
    font-size: 0.8rem;
  }
  header nav .bi-gear-fill {
    font-size: 1.2rem;
  }
  header nav .nav_container_md ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    background: #ff8500;
    padding: 0.4rem 1rem;
    margin-bottom: 0;
    border-radius: 2rem;
    font-size: 0.6rem;
  }
  header nav .nav_container_md ul li {
    list-style: none;
  }
  header nav .nav_container_md ul li a {
    text-decoration: none;
    color: #fff;
  }
  header .container_carac {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    color: #fff;
  }
  header .container_carac img {
    width: 5rem;
  }
  header .container_carac h1 {
    margin-top: 0.8rem;
    font-size: 1rem;
    color: #ff8500;
    font-weight: bold;
  }
  header .container_carac p {
    width: 28%;
    margin: 0.6rem auto;
    font-size: 1rem;
  }
  header .container_carac i {
    margin-top: 1rem;
    font-size: 0.8rem;
  }
}
@media (min-width: 989px) {
  header {
    height: 32rem;
  }
  header nav {
    padding: 1rem 2rem;
  }
  header nav .bi-gear-fill {
    font-size: 1.5rem;
    cursor: pointer;
  }
  header nav .bi-gear-fill:hover {
    color: #ff8500;
    transition: 0.3s;
  }
  header nav .nav_container_md ul {
    padding: 0.6rem 1.2rem;
    font-size: 0.8rem;
  }
  header nav .nav_container_md ul li {
    list-style: none;
  }
  header nav .nav_container_md ul li a {
    text-decoration: none;
    color: #fff;
  }
  header nav .cart_container {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    font-size: 1.5rem;
  }
  header nav .cart_container:hover {
    cursor: pointer;
    color: #ff8500;
    transition: 0.3s;
  }
  header .container_carac {
    margin-top: 4rem;
  }
  header .container_carac img {
    width: 8rem;
  }
  header .container_carac h1 {
    margin-top: 0.8rem;
    font-size: 1.3rem;
  }
  header .container_carac p {
    width: 21%;
    font-size: 1.3rem;
  }
  header .container_carac i {
    margin-top: 4rem;
    font-size: 1.2rem;
    z-index: 1;
    cursor: pointer;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #161616;
}

h1,
p {
  margin-bottom: 0;
}

.wave {
  margin-top: -2.6rem;
}

@media (min-width: 767px) {
  .wave {
    margin-top: -4rem;
  }
}
@media (min-width: 989px) {
  .wave {
    margin-top: -7rem;
  }
}/*# sourceMappingURL=globals.css.map */